<div class="center jumbotron"><% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Help</h1>
    <p align="center">
      To get help with HR-CRM, please contact Denis Osadchij at denisosa911@gmail.com.
    </p>
  </body>
</html>
</div>